*{
	padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;

}

.menusboky{
    width: 70px;
    height: 2000px;
    background-color: rgb(26, 25, 25);
    position: fixed;
    text-align: center;
}
.sboky{
    width: 40px;
    height: 45px;
    margin-top: 40px;
    text-align: center;
  
}
.EN{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    font-weight: 300;

}

.nesboky{
    margin-left: 70px;
}




header{
	display: flex;
	justify-content: space-between;
    background-color: rgb(34, 174, 255);
    color: white;
    height: 110px;
    
}
.ikonka img{
    width: 110px;
    height: 110px;
    margin-left: 100px;
}
.ikonka p{
    color: white;
    margin-left: 30px;
    font-size: 25px;
}
.ikonka{
    align-items: center;
    display: flex;

}
.info{
    height: 110px;
    display: flex; 
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    margin-right: 100px;
     
}
.info p{
    margin: 30px;


}
.obynik .bolshe{

}

  #block2 {
    height: 2000px;
    width: 2000px;
    position: fixed;
    background-color: rgb(26, 25, 25);
    z-index: 1;
    margin-left: -70px;
    display: none;
    padding: 40px 220px 140px 220px;
  }
  #block2 P{
    color: white;
    font-size: 25px;
    margin-top: 30px;
    
  }
  #block1{
    background: url(../img/x.png);
    margin-left: -60px;
    margin-top: 40px;
    z-index: 2;
    background-position: center;
    block-size: cover;
    width: 45px;
    height: 45px;
    display: none;
    position: fixed;
    
    

  } 


#image-container img {
    position: absolute;
    opacity: 0;
    width: 1833px;
    height: 1150px;
    
    transition: opacity 1s ease-in-out;
  }
  
  #image-container img.active {
    opacity: 1;
    width: 1833px;
    height: 1150px;
  }

  .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 1833px;
    height: 1150px;
    color: white;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
   

  }
  .overlay h2{
    font-size: 130px;
    padding: 250px 100px 100px 100px;
    color: white;
  }
.palka{
    display: flex;
    align-items: center;
    background: white;
    width: 1000px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.zachem{
    width: 1833px;
    height:300px;
    
 
}

.cvs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px 120px 0px 120px;

}

.cvadrat {
    width: 1000px;
    height: 350px;
    text-align: justify;


    padding: 60px;
    margin-top: -200px;

  }
 .cvadrat:nth-child(1){
    background-color: rgb(34, 174, 255);
    color: white;

}
.cvadrat:nth-child(2){
    background-color: rgb(242, 250, 255);
    color: rgb(34, 174, 255);
    box-shadow: 4px 4px 8px -3px rgba(0, 114, 131, 0.23);

}
  .cvadrat p{
    font-size: 25px;
    line-height: 37px;
    margin-top: 50px;
  }
  .cvadrat h3{
    font-size: 50px;
 
  }

.cvs button{
	font-family: 'Roboto', sans-serif;
    padding: 0;
    border: none;
    font: inherit;
    font-size: 25px;
    background-color: transparent;
	text-decoration: underline;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;

}
.cvs button{
    color: white;
}

.cvadrat:nth-child(2) button{
    color: black;
    
}




h2{
    color: rgb(34, 174, 255);
    text-align: center;
    font-size: 70px;
    text-align: center;

    
}
.obynik {
    margin-left: 130px;
    margin-right: 130px;
}
.obynik h2{
    margin-top: 80px;
    margin-bottom: 80px;


}


.obynik img{
    width: 150px;
    height: 150px;

}
.obynik div{
    font-size: 22px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;


}
.bolshes{
    color: rgb(34, 174, 255);
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.obynik p{
    padding-top: 60px;
    text-align: justify;
}
.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700x;
    padding: 30px 120px 30px 120px;
 

}
article{
    width: 350px;
    height: 440px;
    background-color: rgb(34, 174, 255);
    color: white;
    font-size: 22px;
    border-radius: 0px 0px 60px 60px;
  }
 
.news p{
    text-align: center;
    align-items: center;
    padding: 30px;
    line-height: 30px;
}
.newclass{
    border-radius: 0px 0px 30px 30px;
    height: 244px;
    width: 344px;
    background-position: center;
    block-size: cover;
    border: 3px solid rgb(34, 174, 255);
    background-size: cover;
}
#imgnews1{
    background-image: url(../img/news1.png);

}
#imgnews2{
    background-image: url(https://vologda-news.net/img/20231201/e91256bce057b629c86e9729cb1e7bce.jpg);

}
#imgnews3{
    background-image: url(../img/news3.png);
 
}
#imgnews4{
    background-image: url(../img/news4.png);
    background-position: left;
}
#imgnews5{
    background-image: url(../img/news5.png);
 
}
#imgnews6{
    background-image: url(../img/news6.png);
 
}
#imgnews7{
    background-image: url(../img/news7.png);
 
}
#imgnews8{
    background-image: url(../img/news8.png);
 
}
.novosti{
    padding-bottom: 150px;
    margin-top: 150px;
}
.novosti h2{
    color: rgb(34, 174, 255);
    margin-bottom: 30px;
    font-size: 70px;
    text-align: center;

}
.bolshe{
    color: rgb(34, 174, 255);
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

    
}

.footer-one{
    background-color: rgb(26, 25, 25);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-right: 120px;
    padding-left: 120px;
}
ul{ list-style-type: none;

}
li{
    margin-top: 30px;
}
i{  
    font-size: 20px;
}

.footer-one li:nth-child(6){
    color: rgb(123, 125, 126);
    margin-top: 50px;

}



